@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family:Gilroy;
    src: url(../font/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: Gilroy-light;
    src: url(../font/Gilroy-Light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.allpadgewidth{
    width: 1600px;
    padding: 0 0 0 215px;

}
/* header section started */
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
header .allpadgewidth{
    width: 1600px;
    background-color: #fff;
padding: 44.5px 215px 0 215px;
position: relative;
display: flex;
justify-content: space-between;
}
header .allpadgewidth .flower{
    position: fixed;
    top: 0;
    transform: translate(-170px, 0);
    z-index: 33;
}
header .allpadgewidth .circle{
    width: 514.186px;
    height: 514.186px;
    flex-shrink: 0;
    border-radius: 514.186px;
    background: rgba(83, 195, 81, 0.33);
    filter: blur(184px);
    position: absolute;
    z-index: 0;
    top: -179px;
    left: -121px;
}
header .allpadgewidth .ellipse{
    width: 681.231px;
height: 681.231px;
flex-shrink: 0;
border-radius: 681.231px;
background: rgba(255, 233, 120, 0.33);
filter: blur(184px);
position: absolute;
z-index: 0;
top: -84px;
right: -214px;
}
header .allpadgewidth  nav{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}
header .allpadgewidth  nav .logo{
    display: flex;
    gap:10.02px ;
    margin-right: 428px;
}
header .allpadgewidth  nav .logo span{
    color: #374A3D;
font-family: Gilroy;
font-size: 32.317px;
font-style: normal;
font-weight: 700;
line-height: 33.203px; /* 102.741% */
text-transform: capitalize;
}
header .allpadgewidth  nav .navbar{
    display: flex;
    gap: 56.11px;
    align-items: center;
}
header .allpadgewidth  nav .navbar ul{
    display: flex;
    gap: 60px;
}
header .allpadgewidth  nav .navbar ul a{
    color: #1D3B53;
font-family: Gilroy;
font-size: 18px;
font-weight: 600;
}
header .allpadgewidth  nav .navbar ul a::after{
    content: "";
    width: 0;
    display: block;
    height: 2px;
    margin: 1px;
    background-color: #6fd290;
}
header .allpadgewidth  nav .navbar ul a:hover{
    color: #6fd290;
}
header .allpadgewidth  nav .navbar ul a:hover::after{
    width: 100%;
    transition: all .4s linear;
}
header .allpadgewidth  nav .navbar .btn-login{
    width: 110.166px;
height: 41.528px;
flex-shrink: 0;
border-radius: 6px;
background: #0CA941;
display: flex;
justify-content: center;
align-items: center;
border: none;
cursor: pointer;
}
header .allpadgewidth  nav .navbar .btn-login:hover span{
    color: #1D3B53;
}
header .allpadgewidth  nav .navbar .btn-login:active{
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.606);
}
header .allpadgewidth  nav .navbar .btn-login span{
    color: #FFF;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 500;
}
/* header section ended */
/* main section started */
.main .allpadgewidth{
    position: relative;
    margin-top: 169px;
    display: flex;
    gap:29.85px;
    height: 704px;
    overflow: hidden;
}
.main .allpadgewidth .container_left{
 margin-top: 98px;
    width: 616.555px;
}
.main .allpadgewidth .container_left .curve{
    position: absolute;
    z-index: 1;
    top: 490px;
    right: 1000px;
}
.main .allpadgewidth .container_left h1{
    color: #374A3D;
font-family: Fredoka;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 76px; /* 105.556% */
font-variant: small-caps;
}
.main .allpadgewidth .container_left p{
    color: #707070;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 500;
line-height: 32px; /* 177.778% */
/* font-variant: small-caps; */
margin: 38.77px 70.02px 40.6px 0;
}
.main .allpadgewidth .container_left .buy_btn{
    width: 179.785px;
height: 67.112px;
border: #0CA941 2px solid;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 6.27px;
transition: all .4s linear;
cursor: pointer;
}
.main .allpadgewidth .container_left .buy_btn:hover{
    background-color: #0CA941;
}
.main .allpadgewidth .container_left .buy_btn:hover span{
    color: #FFF;
}
.main .allpadgewidth .container_left .buy_btn span{
    color: #374A3D;
text-align: center;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 600;
line-height: 18px; /* 100% */
}
.main .allpadgewidth .container_right{
    position: absolute;
    z-index: 1;
    right: 40px;
}
.main .allpadgewidth .container_left h1 span{
    color: #0CA941;
}
.main .allpadgewidth .circle{
    width: 514.186px;
height: 514.186px;
flex-shrink: 0;
border-radius: 514.186px;
background: rgba(83, 195, 81, 0.33);
filter: blur(184px);
position: absolute;
z-index: 0;
top: 547px;
right: 273px;
}
/* main section ended */
/* overall section  started */
.overall .allpadgewidth {
    position: relative;
    display: flex;
    /* justify-content: center; */
}
.overall .allpadgewidth .circle{
    width: 466.624px;
height: 466.624px;
flex-shrink: 0;
border-radius: 466.624px;
background: rgba(255, 233, 120, 0.33);
filter: blur(184px);
position: absolute;
left: -100px;
top: -82.6px;
}
.overall .allpadgewidth .cactus{
    position: absolute;
    z-index: 1;
    top: -198.94px;
    left: 635px;
}
.overall .allpadgewidth .container{
    width: 1170px;
height: 234.679px;
flex-shrink: 0;
border-radius: 28px;
background: #FFF;
box-shadow: 23px 19px 138px -45px rgba(12, 169, 65, 0.13);
margin-top: 84px;
z-index: 1;
padding:48px 39px  39px 151px;
display: flex;
align-items: center;
position: relative;
}
.overall .allpadgewidth .container .flower {
    position: absolute;
    z-index: 2;
    top: -88px;
    left: -121px;
}
.overall .allpadgewidth .container .text{
    width: 310.991px;
}
.overall .allpadgewidth .container h3{
    color: #374A3D;
font-family: Fredoka ;
font-size: 30px;
font-style: normal;
font-weight: 600;
 line-height: 35px; /*133.333% */
}
.overall .allpadgewidth .container p{
    color: #5B7262;
font-family: Gilroy-light;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
margin-top: 9.13px;
}
.overall .allpadgewidth .container .project .clip{
background: url(../images/clip.svg ) ;
display: flex;
align-items: center;
width: 83.133px;
height: 72.647px;

}
.overall .allpadgewidth .container .project {
    width: 161.411px;
    margin-left: 84px;
}
.overall .allpadgewidth .container .practise{
    margin-left: 65px;
}
.overall .allpadgewidth .container .group{
    margin-left: 50px;
}
.overall .allpadgewidth .container .project .clip  span{
    color: #0CA941;
position: absolute;
font-family: Gilroy;
font-size: 60px;
font-weight: 800;
line-height: 42px; /* 70% */
font-variant: small-caps;
z-index: 2;
}
.overall .allpadgewidth .container .project .clip p{
    color: #678570;
font-family: Gilroy;
font-size: 18px;
font-weight: 600;
line-height: 26px;
font-variant: small-caps;
}
/* overall section  ended */
/* pro_gardener section started */
.pro_gardener .allpadgewidth{
 display: flex;
 align-items: center;
margin-top: 185px;
position: relative;
margin-bottom: 230px;
}
.pro_gardener .allpadgewidth .circle{
    width: 514.186px;
height: 514.186px;
flex-shrink: 0;
border-radius: 514.186px;
background: rgba(83, 195, 81, 0.33);
filter: blur(184px);
position: absolute;
left: 74px;
}
.pro_gardener .allpadgewidth .small_circle{
    width: 354.961px;
height: 354.961px;
border-radius: 354.961px;
background: rgba(255, 233, 120, 0.33);
filter: blur(184px);
position: absolute;
left: 534px;
bottom: -9px;
}
.pro_gardener .allpadgewidth .container_left{
    position: absolute;
    top: -55px;
}
.pro_gardener .allpadgewidth .container_right{
    width: 457.917px;
    position: relative;
margin-left: 694px;
}
.pro_gardener .allpadgewidth .container_right h3{
    color: #374A3D;
font-family: Fredoka;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 35px; /* 122.222% */
font-variant: small-caps;
}
.pro_gardener .allpadgewidth .container_right p{
    color: #678570;
font-family: Gilroy-light;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 177.778% */
font-variant: small-caps;
margin: 30.58px 0 40.14px 0;
}
.pro_gardener .allpadgewidth .container_right button{
    width: 179.785px;
height: 67.112px;
border: #0CA941 2px solid;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 7.27px;
transition: all .4s linear;
background-color: #FFF;
cursor: pointer;
}
.pro_gardener .allpadgewidth .container_right button span{
    color: #374A3D;
text-align: center;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 600;
line-height: 18px; /* 100% */
}
.pro_gardener .allpadgewidth .container_right button:hover{
    background-color: #0CA941;
}
.pro_gardener .allpadgewidth .container_right button:hover span{
    color: #FFF;
}
.pro_gardener .allpadgewidth .container_right .curve{
    position: absolute;
    right: 128px;
    top: 290px;
}
/* pro_gardener section ended */
/* section service started */
.service .allpadgewidth{
    display: flex;
    position: relative;
    /* align-items: center; */
}
.service .allpadgewidth .container_left {
width: 457.917px;
margin-top: 61px;
}
.service .allpadgewidth .container_left h3{
    color: #374A3D;
font-family: Fredoka;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 166.667% */
font-variant: small-caps;
margin-bottom: 30px;
}
.service .allpadgewidth .container_left p{
    color: #678570;
font-family: Gilroy-light;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}
.service .allpadgewidth .container_left button{
    width: 179.785px;
    height: 67.112px;
    border: #0CA941 2px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.27px;
    transition: all .4s linear;
    background-color: #FFF;
    margin-top:40.4px ;
    cursor: pointer;
}
.service .allpadgewidth .container_left button:hover{
    background-color: #0CA941;
}
.service .allpadgewidth .container_left button:hover span{
color: #FFF;}
.service .allpadgewidth .container_left button span{
    color: #374A3D;
text-align: center;
font-family: Gilroy-right;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 100% */
}
.service .allpadgewidth .container_left .curve{
    position: absolute;
    left: 434px;
    top: 375px;
}
.service .allpadgewidth .container_right {
    position: relative;
    margin-left: 106px;
    display: flex;
}
.service .allpadgewidth .container_right .circle{
    width: 324.988px;
height: 324.988px;
border-radius: 324.988px;
background: rgba(255, 233, 120, 0.33);
filter: blur(125px);
position: absolute;
z-index: 0;
left: 75px;
}
.service .allpadgewidth .container_right .ellipse{
    position: absolute;
    z-index: 1;
    top: 61px;
    left: 226px;
}
.service .allpadgewidth .container_right .green{
    width: 327.142px;
    height: 327.142px;
    flex-shrink: 0;
    border-radius: 327.142px;
background: rgba(83, 195, 81, 0.33);
filter: blur(116px);
position: absolute;
top: 159px;
left: 400px;
}
.service .allpadgewidth .container_right .grey{
    top:233px ;
    left: 87px;
}
.service .allpadgewidth .container_right .vect{
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 473px;
}
.service .allpadgewidth .container_right .vector{
    position: absolute;
    z-index: 1;
    top: 334px;
    left: 199px;
}
.service .allpadgewidth .container_right  .box{
    width: 268.275px;
height: 264.459px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 25.41px 18px 25.41px;
cursor: pointer;
}
.service .allpadgewidth .container_right  .box .clip{
background-image: url(../images/art.svg);
    width: 103.292px;
height: 90.263px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}
.service .allpadgewidth .container_right  .box .yellow{
    background-image: url(../images/clip_yelllow.svg);
}
.service .allpadgewidth .container_right  .box strong{
    color: #374A3D;
text-align: center;
font-family: Fredoka;
font-size: 24px;
font-weight: 700;
line-height: 26px; /* 108.333% */
}
.service .allpadgewidth .container_right  .box p{
    color: #678570;
text-align: center;
font-family: Gilroy-light;
font-size: 16px;
font-weight: 500;
line-height: 19px; /* 150% */
margin-top: 13px;
}
.service .allpadgewidth .container_right .alone{
    position: absolute;
    z-index: 2;
    top: 132px; 
}
.service .allpadgewidth .container_right  .box:hover{
    box-shadow: 8px 9px 42px 0px rgba(12, 169, 65, 0.12); 
}
.service .allpadgewidth .container_right .container {
    position: absolute;
    z-index: 2;
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* section service ended */
/* section choose started */
.choose .allpadgewidth {
    margin-top:268px ;
    padding: 0 215px;
}
.choose .allpadgewidth  h3{
    color: #374A3D;
text-align: center;
font-family: Fredoka;
font-size: 36px;
font-weight: 600;
line-height: 60px; /* 166.667% */
}
.choose .allpadgewidth p{
    color: #678570;
text-align: center;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 500;
line-height: 32px; /* 177.778% */
margin-left: 321px;
margin-right: 317px;
}
.choose .allpadgewidth .container {
    display: flex;
    margin-top: 50.96px;
    gap: 45px;
}
.choose .allpadgewidth .container .box{
    width: 360px;
height: 437px;
flex-shrink: 0;
border-radius: 37px;
border: 0.5px solid rgba(0, 0, 0, 0.211);
background: #FFF;
padding: 31px 36.14px 29.73px 40.14px;
cursor: pointer;
}
.choose .allpadgewidth .container .box:hover{
    box-shadow: 0px 18px  34px 0 rgba(5, 16, 55, 0.15);
    border-radius:  5px;
    border-color: #0CA941;
    transition: all .4s linear;
}
.choose .allpadgewidth .container .box .plant{
    margin-left: 57.14px;
}
.choose .allpadgewidth .container .box strong{
    color: #374A3D;
text-align: center;
font-family: Fredoka;
font-size: 24px;
font-weight: 700;
line-height: 30px; /* 125% */
margin-top: 13.68px;
}
.choose .allpadgewidth .container .box .star_count{
    display: flex;
    align-items: center;
    gap: 11.98px;
    margin-top: 8.21px;
}
.choose .allpadgewidth .container .box .star_count span{
    color: #678570;
font-family: Gilroy-light;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 32px;
}
.choose .allpadgewidth .container .box .buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-top: 16.06px;
}
.choose .allpadgewidth .container .box .buy .price strong{
    color: #678570;
text-align: center;
font-family: Gilroy-light;
font-size: 12px;
font-weight: 400;
/* line-height: 32px; 266.667% */
}
.choose .allpadgewidth .container .box .buy .price span{
    color: #0CA941;
font-family: Fredoka;
display: block;
font-size: 20px;
font-weight: 700;
margin-top: -10px;
}
.choose .allpadgewidth .container .box .buy button{
    width: 128.057px;
height: 43.929px;
border-radius: 10px;
border: 0.5px solid rgba(55, 74, 61, 0.36);
background: #FFF;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.choose .allpadgewidth .container .box .buy button span{
    color: #678570;
text-align: center;
font-family: Gilroy-light;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
transition: all .3s linear;
}
.choose .allpadgewidth .container .box .buy button:hover{
    background-color: #0CA941;
}
.choose .allpadgewidth .container .box .buy button:hover span{
color: #FFF;
}
.choose .allpadgewidth .container .box .buy button:active{
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.476);
}
/* section choose ended */
/* section  subscribe started */
.sunscribe .allpadgewidth {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
}
.sunscribe .allpadgewidth .container{
    margin-top: 133px;
    width: 1170px;
height: 508.809px;
border-radius: 19px;
background: #F8F8F8;
padding: 95.88px 274px 131px  257px;
position: relative;
}
.sunscribe .allpadgewidth .container h2{
    color: #374A3D;
    text-align: center;
    font-family: Fredoka;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30.58px;
}
.sunscribe .allpadgewidth .container p{
    color: #678570;
text-align: center;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 500;
line-height: 32px; /* 177.778% */
}
.sunscribe .allpadgewidth .container .email_bar{
    display: flex;
    align-items: baseline;
}
.sunscribe .allpadgewidth .container .email_bar .email{
    width: 434.21px;
    height: 81.891px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #0CA941;
background: #FFF;
margin-top: 50.03px;
padding-left: 33px;
color: #C4C4C4;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 500;
line-height: 32px; /* 177.778% */
}

.sunscribe .allpadgewidth .container .email_bar .email:hover{
    border: 1px solid #15863b; 
}
.sunscribe .allpadgewidth .container .email_bar button{
    width: 223.418px;
height: 81.891px;
flex-shrink: 0;
border-radius: 10px;
background: #0CA941;
display: flex;
align-items: center;
justify-content: center;
border: none;
position: absolute;
top: 284px;
left: 670px;
cursor: pointer;
}
.sunscribe .allpadgewidth .container .email_bar button:active{
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.27);
}
.sunscribe .allpadgewidth .container .email_bar button:hover span{
    color: #374A3D;
}
.sunscribe .allpadgewidth .container .email_bar button span{
    color: #FFF;
    text-align: center;
    font-family: Gilroy-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */

}
.sunscribe .allpadgewidth .circle{
position: absolute;
width: 514.186px;
height: 514.186px;
flex-shrink: 0;
border-radius: 514.186px;
background: rgba(83, 195, 81, 0.33);
filter: blur(184px);
left: 1000px;
}
.sunscribe .allpadgewidth .ellipse{
    width: 414.485px;
height: 414.485px;
flex-shrink: 0;
border-radius: 414.485px;
background: rgba(255, 233, 120, 0.33);
filter: blur(184px);
position: absolute;
left: -58px;
top: 429px;
}
/* section  subscribe ended */
/* footer section started */
footer {
    display: flex;
    justify-content: center;
  position: relative;
  overflow: hidden;
}
footer .allpadgewidth{
     display: flex;
     flex-direction: column;
     justify-content: center;
 margin-top:128px ;
 position: relative;
 overflow: hidden;
}
footer .allpadgewidth .more_info{
    display: flex;
    justify-content: center; 
}
footer .allpadgewidth .website_speech{
    width: 300.671px;
    margin-right: 135.59px;
}
footer .allpadgewidth .website_speech .logo{
    display: flex;
    align-items: center;
    gap: 10.02px;
    margin-bottom: 20px;
}
footer .allpadgewidth .website_speech .logo span{
    color: #374A3D;
font-family: Gilroy;
font-size: 32.317px;
font-style: normal;
font-weight: 700;
line-height: 33.203px; /* 102.741% */
}
footer .allpadgewidth .website_speech p{
    color: #678570;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 500;
line-height: 32px; /* 177.778% */
}
footer .allpadgewidth .website_speech .social{
    display: flex;
    margin-top: 34px;
;
}
footer .allpadgewidth .website_speech .social i{
    width: 41px;
height: 39px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
transition: all .4s linear;
color: #AEBCB0FF;
cursor: pointer;
}
footer .allpadgewidth .website_speech .social i:hover{
    background-color: #0CA941; 
    border-radius: 20% ;
}
footer .allpadgewidth .website_speech .social .bxl-facebook:hover{
    color: rgb(0, 110, 255);
}
footer .allpadgewidth .website_speech .social .bxl-twitter:hover{
    color: rgb(0, 217, 255);
}
footer .allpadgewidth .website_speech .social .bxl-pinterest-alt:hover{
    color: red;
}
footer .allpadgewidth .website_speech .social .bxl-linkedin:hover{
    color: #FFF;
}
footer .allpadgewidth .company{
    margin-right:140px ;
}
footer .allpadgewidth  .more ul p{
    color: #374A3D;
font-family: Gilroy;
font-size: 22px;
margin-bottom: 20px;
font-weight: 700;
line-height: 32px; /* 145.455% */
}
footer .allpadgewidth  .more ul li{
    margin-bottom:3.5px ;
}
footer .allpadgewidth  .more ul li a{
    color: #678570;
font-family: Gilroy-light;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 34px;
}
footer .allpadgewidth  .more ul li a:hover{
    color: #000;
}
footer .allpadgewidth .info{
    display: flex;
    flex-direction: column;
    width: 206.681px;
margin-left: 130px;
margin-right: 150px;
}
footer .allpadgewidth .info strong{
    color: #374A3D;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 145.455% */
}
footer .allpadgewidth .info p{
    color: #678570;
font-family: Gilroy-light;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
margin-top: 23px ;
margin-bottom: 15px;
}
footer .allpadgewidth .info p:hover{
    color: #000;
}
footer .allpadgewidth .info a{
    color: #678570;
font-family: Gilroy-light;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px;
margin-bottom: 15px;
}
footer .allpadgewidth .info a:hover{
    color: #000;
}
footer .allpadgewidth .line{
    width: 1166.384px;
    height: 1px;
background-color: #BF7949 ;
position: absolute;
z-index: 1;
top: 333px;
left: 218px;
}
footer .allpadgewidth .flowers{
    display: flex;
align-items: flex-start;
margin-top: 43px;
}
footer .allpadgewidth .flowers .long{
   margin-left:122px ;
   margin-right: 108px;
}
footer .allpadgewidth .flowers .longg{
    margin-left: 115px;
margin-right: 139px;
}
footer .allpadgewidth .circle{
    width: 590.55px;
    height: 590.55px;
    flex-shrink: 0;
    border-radius: 590.55px;
background: rgba(83, 195, 81, 0.33);
filter: blur(184px);
position: absolute;
z-index: 0;
top: 550px;
left: -12px;
}
footer .allpadgewidth .ellipse{
    width: 565.905px;
height: 565.905px;
flex-shrink: 0;
border-radius: 565.905px;
background: rgba(255, 233, 120, 0.33);
filter: blur(184px);
position: absolute;
z-index: 0;
top: 500px;
right: 5px;
}
/* footer section ended */