@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family:Gilroy;
    src: url(../font/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: Gilroy-light;
    src: url(../font/Gilroy-Light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
header .allpadgewidth{
    width: 1600px;
    background-color: #fff;
padding: 44.5px 215px 0 215px;
position: relative;
}
header .allpadgewidth .flower{
    position: fixed;
    left: 32.93px;
    top: 0;
}
header .allpadgewidth .circle{
    width: 514.186px;
    height: 514.186px;
    flex-shrink: 0;
    border-radius: 514.186px;
    background: rgba(83, 195, 81, 0.33);
    filter: blur(184px);
    position: absolute;
    z-index: 0;
    top: -179px;
    left: -121px;
}
header .allpadgewidth .ellipse{
    width: 681.231px;
height: 681.231px;
flex-shrink: 0;
border-radius: 681.231px;
background: rgba(255, 233, 120, 0.33);
filter: blur(184px);
position: absolute;
z-index: 0;
top: -84px;
right: -214px;
}
header .allpadgewidth  nav{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}
header .allpadgewidth  nav .logo{
    display: flex;
    gap:10.02px ;
    margin-right: 428px;
}
header .allpadgewidth  nav .logo span{
    color: #374A3D;
font-family: Gilroy;
font-size: 32.317px;
font-style: normal;
font-weight: 700;
line-height: 33.203px; /* 102.741% */
text-transform: capitalize;
}
header .allpadgewidth  nav .navbar{
    display: flex;
    gap: 56.11px;
    align-items: center;
}
header .allpadgewidth  nav .navbar ul{
    display: flex;
    gap: 3vw;
}
header .allpadgewidth  nav .navbar ul a{
    color: #1D3B53;
font-family: Gilroy;
font-size: 18px;
font-weight: 600;
}
header .allpadgewidth  nav .navbar ul a::after{
    content: "";
    width: 0;
    display: block;
    height: 2px;
    margin: 1px;
    background-color: #6fd290;
}
header .allpadgewidth  nav .navbar ul a:hover{
    color: #6fd290;
}
header .allpadgewidth  nav .navbar ul a:hover::after{
    width: 100%;
    transition: all .4s linear;
}
header .allpadgewidth  nav .navbar .btn-login{
    width: 110.166px;
height: 41.528px;
flex-shrink: 0;
border-radius: 6px;
background: #0CA941;
display: flex;
justify-content: center;
align-items: center;
border: none;
}
header .allpadgewidth  nav .navbar .btn-login:hover span{
    color: #1D3B53;
}
header .allpadgewidth  nav .navbar .btn-login:active{
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.606);
}
header .allpadgewidth  nav .navbar .btn-login span{
    color: #FFF;
font-family: Gilroy-light;
font-size: 18px;
font-weight: 500;
}